$poppins: "Poppins", sans-serif;
$playfair: "Playfair Display", serif;
$maincolor: #005C43;

$color_1: #000000;
$color_2: #ffffff;
$color_3: #005C43;
$color_4: rgb(235, 14, 14);
$color_5: currentColor;
