@import "https://fonts.googleapis.com/css2?family=Montserrat&display=swap";
@import "https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap";

@import 'variable';
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.product {
	background-color: #FFF8F1 !important;
}
.product-top {
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.product-new {
	width: 100%;
	height: 100%;
	.product-new-top {
		min-height: 10vh;
		padding: 120px;
	}
	.product-new-top-text {
		font-family: 'Montserrat', sans-serif;
		font-size: 24px;
		font-weight: 600;
		color: #005C43;
		text-align: center;
	}
	.product-new-top-line {
		margin: auto;
		width: 20%;
		background-color: #005C43;
		padding: 1px;
		margin-top: 40px;
	}
}
.product-new-under {
	padding: 0px 100px;
}
.product-new-under-text {
	font-family: 'Montserrat', sans-serif;
	font-size: 36px;
	font-weight: 600;
	color: #000000;
	text-align: left;
	margin-bottom: 100px;
}
.arrivals-img {
	img {
		border-radius: 30px;
	}
}
.product-collection-title {
	font-family: 'Montserrat', sans-serif;
	font-size: 36px;
	font-weight: 600;
	color: #000000;
	text-align: left;
	margin-top: 100px;
	margin-bottom: 40px;
}
.product-collection {
	position: relative;
	width: 100%;
	height: auto;
	padding: 50px 100px;

	.container-collection {
		justify-content: space-between;
		.c1 {
			font-family: $poppins;
			.c1-img {
				img {
					border-radius: 30px;
				}
			}
			.c1-content {
				.c1-content-title, .c1-release-date {
					font-size: 26px;
					justify-content: space-between;
	
					.c1-t-name, .c1-t-id {
						font-weight: 600;
					}
				}
				.c1-detail {
					text-align: justify;
				}
				.c1-author, .c1-release-date {
					font-size: 14px;
					color: #757575;
				}
				.c1-release-date {
					margin-top: 80px;
				}
			}
		}	
	}
}

.product-new-under, .product-collection {
	.article-container {
		font-family: $poppins;
		font-size: 18px;
		line-height: 1.5;

		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(345px, 1fr));
		gap: 2rem;

		.article-card {
			background: white;
			border-radius: 20px;
			transition: 0.3s;
			.article-image {
				margin: 0;
				padding: 0;
				overflow: hidden;
	
				img {
					max-width: 100%;
					height: auto;
					border-radius: 20px 20px 0 0;
				}
			}
			.article-content {
				padding: 2rem;

				.card-title {
					margin: 1rem 0;
					color: #2244;
				}
				.card-excerpt {
					line-height: 1.5rem;
					margin: 0;
				}
			}
		}
		.article-card:hover {
			box-shadow: 0 4px 20px 0 rgba(34,68,123,0.2);
			cursor: pointer;
		}

	}
}
@media screen and (min-width: 768px) {
	.article-card {
		display: grid;
		grid-template-rows: 320px 1fr;
	}
}