@import 'variable';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {

    background-color: #FFF8F1 !important;
}
.whiteblank {
    min-height: 3vh;
}
.title-top-content {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    justify-content: space-between;
    flex-wrap: wrap;
    .inside-title-top-content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
    }
}
.inside-content-text-test {
    font-family: $poppins;
    font-size: 24px;
    font-weight: 400;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    h1 {
        font-family: $playfair;
        font-size: 96px;
        font-weight: 400;
        color: #005c43;
        position: relative;
    }
}
.title-top {
    .title-top-img {
        position: relative;
        width: 100%;
        height: 85vh;
        img {
            max-width: 100%;
            height: auto;
            object-fit: cover;
            width: 94.5%;
            float: right;
        }
    }
}
.something {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.something-inside {
    display: flex;
}
.something-content-text-1 {
    position: relative;
    font-family: $poppins;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 3px;
    margin-left: 10px;
}
.something-content-text-2 {
    position: relative;
    font-family: $playfair;
    font-size: 64px;
    color: #005c43;
    margin: 100px;
    margin-left: 10px;
}
.something-content-text-3 {
    position: relative;
    font-family: $poppins;
    font-size: 24px;
    font-weight: 400;
    text-align: justify;
    margin: 180px;
    margin-left: 10px;
}
.something-img {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.workshop-content {
    padding: 50px 100px;

    .workshop-content-top {
        font-family: $playfair;
        font-size: 30px;
        color: $maincolor;
        font-weight: 600;

        letter-spacing: 2px;
    }
    .workshop-content-main {
        padding: 0px 200px !important;

        font-family: $poppins;
        font-size: 18px;
    }
    .workshop-content-top-line {
        margin: auto;
		width: 20%;
		background-color: #005C43;
		padding: 1px;
		margin-top: 40px;
    }
    .workshop-content-main {
        padding: 0px 100px;
    }
}
.workshop-teach {
    padding: 0px 100px;

    .workshop-teach-title {
        font-family: $playfair;
        font-size: 30px;
        color: $maincolor;
        font-weight: 600;

        letter-spacing: 2px;
    }
    .workshop-teach-content {
        padding: 0px 200px;

        font-family: $poppins;
        font-size: 18px;
    }
}
.workshop-feel {
    padding: 50px 100px;

    .workshop-feel-content {
        .wfc-title {
            font-family: $playfair;
            font-size: 36px;
            color: $maincolor;
            font-weight: 600;
    
            letter-spacing: 2px;
        }
        .wfc-sub {
            padding: 0px 300px !important;

            font-family: $poppins;
            font-size: 18px;
        }
    }
    .col-lg-3 {
        .card-test {
            h4 {
                font-family: $poppins;
                font-size: 24px;
                font-weight: 600;
            }
        }
    }
}
#carousel-main {
    padding: 0px 100px;
}
.carousel-main-text {
    position: relative;
    font-family: $playfair;
    font-size: 30px;
    color: $maincolor;
    font-weight: 600;

    letter-spacing: 2px;
    margin: 50px;
    margin-left: 10px;
}
.carousel-item {
    img {
        filter: brightness(55%);
    }
}
.carousel-caption {
    top: 41%;
    transform: translateY(-35%);

    h1 {
        font-family: $playfair;
        letter-spacing: 2px;
    }
    button {
        background-color: $maincolor;
        border: none;

        transition: all 0.3s ease;
    }
    button:hover {
        background-color: #00936c;
    }
    .w-detail, .detail-w-address, .detail-w-date {
        font-family: $poppins;
        font-size: 18px;

        padding: 0px 150px;
    }
}
.carousel-button-prev {
    padding: 50px 100px;
}
.carousel-button-next {
    padding: 50px 100px;
}
@media screen and (max-width: 768px) {
    .inside-content-text-test {
        h1 {
            font-size: 68px;
        }
    }
}

