        <div class="product">
            <div class="product-top">
                <img src="/img/Product/background-top.jpg" alt="jpg">
            </div>
            <div class="product-new">
                <div class="product-new-top">
                    <div class="product-new-top-text">
                        the vert is a collection of nature, <br>
                        made from eco-friendly, <br>
                        non-toxic ingredients. <br>
                    </div>
                    <div class="product-new-top-line"></div>
                </div>
                <div class="product-new-under">
                    <div class="product-new-under-text">new arrivals</div>
                    {{!-- <div class="product-under-inside row">
                        <div class="col-lg-3">
                            <div class="card-test mb-4">
                                <div class="arrivals-img" data-label="Soap">
                                    <img src="/img/Product/product-2-crop.jpg" alt="jpg" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card-test mb-4">
                                <div class="arrivals-img" data-label="Soap">
                                    <img src="/img/Product/product-4-crop.jpg" alt="jpg" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card-test mb-4">
                                <div class="arrivals-img" data-label="Soap">
                                    <img src="/img/Product/product-2-crop.jpg" alt="jpg" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card-test mb-4">
                                <div class="arrivals-img" data-label="Soap">
                                    <img src="/img/Product/product-4-crop.jpg" alt="jpg" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div> --}}
                    <div class="product-container">
                        <div class="product-card">
                            <div class="product-image">
                                <img src="/img/Product/product-2-crop.jpg" alt="jpg">
                            </div>
                            <div class="product-card-content">
                                <h3 class="card-content-title">Trip Planning</h3>
                                <p class="card-content-detail">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos qui itaque cum expedita! Dolores dolor doloremque expedita, sit velit quisquam natus accusantium, obcaecati aut dolorum ipsa consequatur quibusdam? Modi, fuga?
                                </p>
                            </div>
                        </div>
                        <div class="product-card">
                            <div class="product-image">
                                <img src="/img/Product/product-2-crop.jpg" alt="jpg">
                            </div>
                            <div class="product-card-content">
                                <h3 class="card-content-title">Trip Planning</h3>
                                <p class="card-content-detail">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos qui itaque cum expedita! Dolores dolor doloremque expedita, sit velit quisquam natus accusantium, obcaecati aut dolorum ipsa consequatur quibusdam? Modi, fuga?
                                </p>
                            </div>
                        </div>
                        <div class="product-card">
                            <div class="product-image">
                                <img src="/img/Product/product-2-crop.jpg" alt="jpg">
                            </div>
                            <div class="product-card-content">
                                <h3 class="card-content-title">Trip Planning</h3>
                                <p class="card-content-detail">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos qui itaque cum expedita! Dolores dolor doloremque expedita, sit velit quisquam natus accusantium, obcaecati aut dolorum ipsa consequatur quibusdam? Modi, fuga?
                                </p>
                            </div>
                        </div>
                        <div class="product-card">
                            <div class="product-image">
                                <img src="/img/Product/product-2-crop.jpg" alt="jpg">
                            </div>
                            <div class="product-card-content">
                                <h3 class="card-content-title">Trip Planning</h3>
                                <p class="card-content-detail">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos qui itaque cum expedita! Dolores dolor doloremque expedita, sit velit quisquam natus accusantium, obcaecati aut dolorum ipsa consequatur quibusdam? Modi, fuga?
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-collection">
                <div class="product-collection-title">our collection</div>
                <div class="collection-container">
                    <div class="collection-card d-flex">
                        <div class="collection-image">
                                <img src="/img/Product/p1-cop.jpg" alt="jpg">
                        </div>
                        <div class="collection-card-content">
                                <div class="collection-title d-flex">
                                    <div class="collection-title-name">
                                        SOAP COLLECTION
                                    </div>
                                    <div class="collection-title-id">
                                        #9999
                                    </div>
                                </div>
                                <div class="collection-author mb-3">
                                    By Moonstruck
                                </div>
                                <p class="collection-detail">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos qui itaque cum expedita! Dolores dolor doloremque expedita, sit velit quisquam natus accusantium, obcaecati aut dolorum ipsa consequatur quibusdam? Modi, fuga?
                                </p>
                                <div class="collection-release mt-5">RELEASE DATE: Jan 6, 2022</div>
                            </div>
                    </div>
                    <div class="collection-card d-flex">
                            <div class="collection-image">
                                <img src="/img/Product/p1-cop.jpg" alt="jpg">
                            </div>
                            <div class="collection-card-content">
                                <div class="collection-title d-flex">
                                    <div class="collection-title-name">
                                        SOAP COLLECTION
                                    </div>
                                    <div class="collection-title-id">
                                        #9999
                                    </div>
                                </div>
                                <div class="collection-author mb-3">
                                    By Moonstruck
                                </div>
                                <div class="collection-detail">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos qui itaque cum expedita! Dolores dolor doloremque expedita, sit velit quisquam natus accusantium, obcaecati aut dolorum ipsa consequatur quibusdam? Modi, fuga?
                                </div>
                                <div class="collection-release mt-5">RELEASE DATE: Jan 6, 2022</div>
                            </div>
                    </div>
                </div>
            </div>
        </div>