        <div class="product">
            <div class="product-top">
                <img src="/img/Product/background-top.jpg" alt="jpg">
            </div>
            <div class="product-new">
                <div class="product-new-top">
                    <div class="product-new-top-text">
                        the vert is a collection of nature, <br>
                        made from eco-friendly, <br>
                        non-toxic ingredients. <br>
                    </div>
                    <div class="product-new-top-line"></div>
                </div>
                <div class="product-new-under">
                    <div class="product-new-under-text">new arrivals</div>
                    {{!-- <div class="product-under-inside row">
                        <div class="col-lg-3">
                            <div class="card-test mb-4">
                                <div class="arrivals-img" data-label="Soap">
                                    <img src="/img/Product/product-2-crop.jpg" alt="jpg" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card-test mb-4">
                                <div class="arrivals-img" data-label="Soap">
                                    <img src="/img/Product/product-4-crop.jpg" alt="jpg" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card-test mb-4">
                                <div class="arrivals-img" data-label="Soap">
                                    <img src="/img/Product/product-2-crop.jpg" alt="jpg" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card-test mb-4">
                                <div class="arrivals-img" data-label="Soap">
                                    <img src="/img/Product/product-4-crop.jpg" alt="jpg" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div> --}}
                    <div class="article-container">
                        <article class="article-card">
                            <figure class="article-image">
                                <img src="/img/Product/product-2-crop.jpg" alt="jpg">
                            </figure>
                            <div class="article-content">
                                <h3 class="card-title">Trip Planning</h3>
                                <p class="card-excerpt">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos qui itaque cum expedita! Dolores dolor doloremque expedita, sit velit quisquam natus accusantium, obcaecati aut dolorum ipsa consequatur quibusdam? Modi, fuga?
                                </p>
                            </div>
                        </article>
                        <article class="article-card">
                            <figure class="article-image">
                                <img src="/img/Product/product-2-crop.jpg" alt="jpg">
                            </figure>
                            <div class="article-content">
                                <h3 class="card-title">Trip Planning</h3>
                                <p class="card-excerpt">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos qui itaque cum expedita! Dolores dolor doloremque expedita, sit velit quisquam natus accusantium, obcaecati aut dolorum ipsa consequatur quibusdam? Modi, fuga?
                                </p>
                            </div>
                        </article>
                        <article class="article-card">
                            <figure class="article-image">
                                <img src="/img/Product/product-2-crop.jpg" alt="jpg">
                            </figure>
                            <div class="article-content">
                                <h3 class="card-title">Trip Planning</h3>
                                <p class="card-excerpt">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos qui itaque cum expedita! Dolores dolor doloremque expedita, sit velit quisquam natus accusantium, obcaecati aut dolorum ipsa consequatur quibusdam? Modi, fuga?
                                </p>
                            </div>
                        </article>
                        <article class="article-card">
                            <figure class="article-image">
                                <img src="/img/Product/product-2-crop.jpg" alt="jpg">
                            </figure>
                            <div class="article-content">
                                <h3 class="card-title">Trip Planning</h3>
                                <p class="card-excerpt">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos qui itaque cum expedita! Dolores dolor doloremque expedita, sit velit quisquam natus accusantium, obcaecati aut dolorum ipsa consequatur quibusdam? Modi, fuga?
                                </p>
                            </div>
                        </article>
                        <article class="article-card">
                            <figure class="article-image">
                                <img src="/img/Product/product-2-crop.jpg" alt="jpg">
                            </figure>
                            <div class="article-content">
                                <h3 class="card-title">Trip Planning</h3>
                                <p class="card-excerpt">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos qui itaque cum expedita! Dolores dolor doloremque expedita, sit velit quisquam natus accusantium, obcaecati aut dolorum ipsa consequatur quibusdam? Modi, fuga?
                                </p>
                            </div>
                        </article> 
                    </div>
                </div>
            </div>
            <div class="product-collection">
                <div class="product-collection-title">our collection</div>
                <div class="container-collection row">
                        <div class="c1 d-flex col-sm-6 mb-5">
                            <div class="c1-img">
                                <img src="/img/Product/c1.jpg" alt="jpg">
                            </div>
                            <div class="c1-content mx-4">
                                <div class="c1-content-title d-flex">
                                    <div class="c1-t-name">SOAP DEMO COLLECTION</div>
                                    <div class="c1-t-id">#9999</div>
                                </div>
                                <div class="c1-author mb-4">By Moonstruck</div>
                                <div class="c1-detail my-5">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem repellat dolorem
                                    sunt asperiores officia quae maiores! Incidunt consequatur atque distinctio
                                    praesentium obcaecati recusandae, ipsum omnis rerum veniam, odit repellendus
                                    consectetur.
                                </div>
                                <div class="c1-release-date">RELEASE DATE: Jan, 2021</div>
                            </div>
                        </div>
                        <div class="c1 d-flex col-sm-6 mb-5">
                            <div class="c1-img">
                                <img src="/img/Product/c1.jpg" alt="jpg">
                            </div>
                            <div class="c1-content mx-4">
                                <div class="c1-content-title d-flex">
                                    <div class="c1-t-name">SOAP DEMO COLLECTION</div>
                                    <div class="c1-t-id">#9999</div>
                                </div>
                                <div class="c1-author mb-4">By Moonstruck</div>
                                <div class="c1-detail my-5">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem repellat dolorem
                                    sunt asperiores officia quae maiores! Incidunt consequatur atque distinctio
                                    praesentium obcaecati recusandae, ipsum omnis rerum veniam, odit repellendus
                                    consectetur.
                                </div>
                                <div class="c1-release-date">RELEASE DATE: Jan, 2021</div>
                            </div>
                        </div>
                </div>
            </div>
        </div>