        <div class="product">
            <div class="product-top">
                <img src="/img/Product/background-top.jpg" alt="jpg">
            </div>
            <div class="product-new">
                <div class="product-new-top">
                    <div class="product-new-top-text">
                        the vert is a collection of nature, <br>
                        made from eco-friendly, <br>
                        non-toxic ingredients. <br>
                    </div>
                    <div class="product-new-top-line"></div>
                </div>
                <div class="product-new-under">
                    <div class="product-new-under-text">new arrivals</div>
                    <div class="product-under-inside row">
                        <div class="col-lg-3">
                            <div class="card-test mb-4">
                                <div class="arrivals-img" data-label="Soap">
                                    <img src="/img/Product/product-2-crop.jpg" alt="jpg" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card-test mb-4">
                                <div class="arrivals-img" data-label="Soap">
                                    <img src="/img/Product/product-4-crop.jpg" alt="jpg" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card-test mb-4">
                                <div class="arrivals-img" data-label="Soap">
                                    <img src="/img/Product/product-2-crop.jpg" alt="jpg" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card-test mb-4">
                                <div class="arrivals-img" data-label="Soap">
                                    <img src="/img/Product/product-4-crop.jpg" alt="jpg" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-collection">
                <div class="product-collection-title">our collection</div>
                <div class="product-collection-content">
                    <div class="product-collection-1">
                        <img src="/img/Product/somuop-test.jpg" alt="jpg">
                    </div>
                    <div class="product-collection-1">
                        Exploring about the posibility that happens <br>
                        when you tried something you never tried.
                    </div>
                </div>
                <div class="product-collection-content">
                    <div class="product-collection-1">
                        Exploring about the posibility that happens <br>
                        when you tried something you never tried.
                    </div>
                    <div class="product-collection-1">
                        <img src="/img/Product/somuop-test.jpg" alt="jpg">
                    </div>
                </div>
            </div>
        </div>