    <div class="container-explore">
        <div class="container-fluid">
            <div class="explore-content">
                <div class="content-top text-center">
                    <div class="top-title text-uppercase  my-5">trick or treat</div>
                    <div class="top-time">Jan 6, 2022</div>
                    <div class="top-address mt-2">1234, HCM City</div>
                    <div class="top-detail my-5">
                        At Clover, lessons consist of ancient techniques using hand-building, 
                        coiling, and trimming to create amazing work of pottery. 
                        You can book private classes and gather your friends to attend pottery workshops in Viet Nam with you. 
                        This is also the perfect spot for you to pick up the handmade pottery masterpieces by professional pottery artists.
                    </div>
                    <div class="top-img my-3">
                        <img src="/img/Workshop/pumpkin-crop.jpg" alt="jpg" class="img-fluid">
                    </div>
                </div>
                <div class="content-second text-center">
                    <div class="second-title fst-italic my-5">what will we get?</div>
                    <div class="second-detail">
                        At Clover, lessons consist of ancient techniques using hand-building, 
                        coiling, and trimming to create amazing work of pottery. 
                        You can book private classes and gather your friends to attend pottery workshops in Viet Nam with you. 
                        This is also the perfect spot for you to pick up the handmade pottery masterpieces by professional pottery artists.
                    </div>
                </div>
                <div class="content-third text-center">
                    <div class="third-title fst-italic my-5">participants</div>
                    <div class="third-detail">
                        At Clover, lessons consist of ancient techniques using hand-building, 
                        coiling, and trimming to create amazing work of pottery. 
                        You can book private classes and gather your friends to attend pottery workshops in Viet Nam with you. 
                        This is also the perfect spot for you to pick up the handmade pottery masterpieces by professional pottery artists.
                    </div>
                </div>
            </div>
            <hr
                style="width: 50%; height: 2px; background-color: rgba(0, 0, 0, 0.356); opacity: 1; margin: auto; margin-top: 100px">
            <div class="explore-form my-5">
                <div class="form-title text-center fst-italic my-5">join with us!</div>
                <form class="form-main" method="POST" action="/workshop/registration" id="w1">
                    <div class="field">
                        <div class="my-4">
                            <div class="form-outline">
                                <input type="text" name="firstname" id="firstname" placeholder="First Name"
                                    class="form-control form-control-lg" />
                            </div>
                        </div>
                        <div class="my-4">
                            <div class="form-outline">
                                <input type="text" id="lastName" placeholder="Last Name"
                                    class="form-control form-control-lg" name="lastname" />
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="my-4 align-items-center">
                            <div class="form-outline datepicker w-100">
                                <input type="date" class="form-control form-control-lg" id="birthdayDate"
                                    min="1945-01-01" max="2020-12-12" name="birthday" />
                            </div>
                        </div>
                        <div class="gender">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" id="femaleGender"
                                    value="Female" checked />
                                <label class="form-check-label" for="femaleGender">Female</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" id="maleGender"
                                    value="Male" />
                                <label class="form-check-label" for="maleGender">Male</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" id="otherGender"
                                    value="Other" />
                                <label class="form-check-label" for="otherGender">Other</label>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="my-4">
                            <div class="form-outline">
                                <input type="email" id="emailAddress" placeholder="Email Address"
                                    class="form-control form-control-lg" name="email" />
                            </div>
                        </div>
                        <div class="my-4">
                            <div class="form-outline">
                                <input type="tel" id="phoneNumber" placeholder="Phone Number"
                                    class="form-control form-control-lg" required name="phone_number" 
                                    oninvalid="this.setCustomValidity('')"/>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="button-explore btn btn-primary btn-lg col-md-12 text-center my-5" id="liveAlertBtn"
                        form="w1">Explore</button>
                    <div id="liveAlertPlaceholder"></div>
                </form>
            </div>
        </div>
    </div>