    <div class="container-explore">
        <div class="container-fluid">
            <div class="explore-content">
                <div class="content-top text-center">
                    <div class="top-title text-uppercase  my-5">trick or treat</div>
                    <div class="top-time">Jan 6, 2022</div>
                    <div class="top-address mt-2">1234, HCM City</div>
                    <div class="top-detail my-5">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Facilis nam nesciunt cum suscipit velit voluptate, vel, quae nemo illum ex rem perspiciatis 
                        odio consequuntur laudantium! Dolore, distinctio! Hic, ex quis!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Facilis nam nesciunt cum suscipit velit voluptate, vel, quae nemo illum ex rem perspiciatis 
                        odio consequuntur laudantium! Dolore, distinctio! Hic, ex quis!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Facilis nam nesciunt cum suscipit velit voluptate, vel, quae nemo illum ex rem perspiciatis 
                        odio consequuntur laudantium! Dolore, distinctio!
                    </div>
                    <div class="top-img my-3">
                        <img src="/img/Workshop/kid3.jpg" alt="jpg" class="img-fluid">
                    </div>
                </div>
                <div class="content-second text-center">
                    <div class="second-title fst-italic my-5">what will we get?</div>
                    <div class="second-detail">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Facilis nam nesciunt cum suscipit velit voluptate, vel, quae nemo illum ex rem perspiciatis 
                        odio consequuntur laudantium! Dolore, distinctio! Hic, ex quis!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Facilis nam nesciunt cum suscipit velit voluptate, vel, quae nemo illum ex rem perspiciatis 
                        odio consequuntur laudantium! Dolore, distinctio! Hic, ex quis!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Facilis nam nesciunt cum suscipit velit voluptate, vel, quae nemo illum ex rem perspiciatis 
                        odio consequuntur laudantium! Dolore, distinctio!
                    </div>
                </div>
                <div class="content-third text-center">
                    <div class="third-title fst-italic my-5">participants</div>
                    <div class="third-detail">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Facilis nam nesciunt cum suscipit velit voluptate, vel, quae nemo illum ex rem perspiciatis 
                        odio consequuntur laudantium! Dolore, distinctio! Hic, ex quis!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Facilis nam nesciunt cum suscipit velit voluptate, vel, quae nemo illum ex rem perspiciatis 
                        odio consequuntur laudantium! Dolore, distinctio! Hic, ex quis!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Facilis nam nesciunt cum suscipit velit voluptate, vel, quae nemo illum ex rem perspiciatis 
                        odio consequuntur laudantium! Dolore, distinctio!
                    </div>
                </div>
            </div>
            <hr style="width: 50%; height: 2px; background-color: rgba(0, 0, 0, 0.356); opacity: 1; margin: auto; margin-top: 100px">
            <div class="explore-form my-5">
                <div class="form-title text-center fst-italic my-5">join with us!</div>
                <form class="form-main">
                    <div class="field">
                        <div class="my-4">
                            <div class="form-outline">
                                <input type="text" id="firstName" placeholder="First Name"
                                    class="form-control form-control-lg" />
                            </div>
                        </div>
                        <div class="my-4">
                            <div class="form-outline">
                                <input type="text" id="lastName" placeholder="Last Name"
                                    class="form-control form-control-lg" />
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="my-4 align-items-center">
                            <div class="form-outline datepicker w-100">
                                <input type="date" class="form-control form-control-lg"
                                    id="birthdayDate" min="1945-01-01" max="2020-12-12" />
                            </div>
                        </div>
                        <div class="gender">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio"
                                    name="inlineRadioOptions" id="femaleGender" value="option1"
                                    checked />
                                <label class="form-check-label" for="femaleGender">Female</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio"
                                    name="inlineRadioOptions" id="maleGender" value="option2" />
                                <label class="form-check-label" for="maleGender">Male</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio"
                                    name="inlineRadioOptions" id="otherGender" value="option3" />
                                <label class="form-check-label" for="otherGender">Other</label>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="my-4">
                            <div class="form-outline">
                                <input type="email" id="emailAddress" placeholder="Email Address"
                                    class="form-control form-control-lg" />
                            </div>
                        </div>
                        <div class="my-4">
                            <div class="form-outline">
                                <input type="tel" id="phoneNumber" placeholder="Phone Number"
                                    class="form-control form-control-lg" />
                            </div>
                        </div>
                    </div>
                    <button type="button" class="button-explore btn btn-primary btn-lg col-md-12 text-center my-5">Explore</button>
                </form>
            </div>
        </div>
    </div>