    <div class="container-workshop">
        <div class="workshop">
            <div class="whiteblank"></div>
            <div class="title-top">
                <div class="title-top-content">
                    <div class="inside-title-top-content">
                        <div class="inside-content-text-test">
                            <h1>Immpressed <br> in nature</h1>
                        </div>
                        <div class="inside-content-text-test">
                            Exploring about the posibility that happens <br>
                            when you tried something you never tried.
                        </div>
                    </div>
                </div>
                <div class="title-top-img">
                    <div class="title-top-img-inside">
                        <img src="/img/Workshop/kid1-crop.jpg" alt="jpg">
                    </div>
                </div>
            </div>
            <div class="something">
                <div class="something-inside">
                    <div class="something-content">
                        <div class="something-content-text-1">SOMETHING</div>
                        <div class="something-content-text-2">Let's yourself experience <br> new different things.</div>
                        <div class="something-content-text-3">
                            A new experience, something we haven’t tried before. Something which opens our senses and
                            mind to new adventures and ways of thinking.
                            When we put ourselves out of our comfort zone and open ourselves up to new experiences,
                            things happen in our life.
                            Do not let fear stand in the way of trying something new. Whether it’s travelling to a new
                            country or trying a new hobby.
                            New experiences allow you to broaden your horizons and live a fulfilled life. Step out of
                            your comfort zone and enrich your life.
                        </div>
                    </div>
                    <div class="something-img">
                        <img src="/img/Workshop/family-1-crop.jpg" alt="jpg">
                    </div>
                </div>
            </div>
            <div class="workshop-content row">
                <div class="workshop-content-top text-center">
                    Exploring about the posibility that happens <br>
                    when you tried something you never tried.
                </div>
                <div class="workshop-content-top-line"></div>
                <div class="workshop-content-main text-center my-5">
                    <div class="wcm">
                        Floret Workshops teach you step-by-step how to grow, harvest,
                        and sell stunning seasonal blooms.
                    </div>
                    <div class="wcm">
                        Attracting beginning and experienced
                        flower farmers and florists from around the world,
                        Floret Workshops incorporate technical training,
                        plus time-tested techniques and down-to-earth advice to help you build a
                        thriving flower business.
                    </div>
                    <div class="wcm">
                        We take you behind the scenes and show you how
                        we produce an unbelievable amount of beauty and abundance on just two tiny acres,
                        sharing all the systems and processes that we’ve developed over many successful
                        years in the flower business.
                    </div>
                </div>
                <div class="col-lg-4">
                    <img src="/img/Workshop/family.jpg" alt="jpg" class="img-fluid">
                </div>
                <div class="col-lg-4">
                    <img src="/img/Workshop/kid2.jpg" alt="jpg" class="img-fluid">
                </div>
                <div class="col-lg-4">
                    <img src="/img/Workshop/happy.jpg" alt="jpg" class="img-fluid">
                </div>
                <hr class="mt-5"
                    style="width: 90%; height: 2px; background-color: rgb(0, 0, 0); opacity: 1; margin: auto">
            </div>
            <div class="workshop-teach text-center mb-5">
                <div class="workshop-teach-title text-uppercase">experience from clover</div>
                <div class="workshop-teach-content my-4">
                    <div class="wtc my-5">
                        Since 2013, we have trained thousands of aspiring and established flower farmers and floral
                        designers on small-scale flower farming and natural floral design techniques.
                        Widely acclaimed in the press and wildly popular among participants, our on-farm workshops
                        attracted interest from around the world and always sold out fast.
                    </div>
                    <div class="wtc">
                        Unable to keep up with the demand for on-farm events, we converted our flower farming training
                        into a convenient video-based format.
                        Information we previously shared at our on-farm workshops is now available via our Mini Courses
                        and our comprehensive 6-week Floret Online Workshop, so you can learn from Floret no matter
                        where you live.
                    </div>
                    <img src="/img/Workshop/kid3.jpg" alt="jpg" class="img-fluid">
                    <hr class="mt-5"
                        style="width: 90%; height: 2px; background-color: rgb(0, 0, 0); opacity: 1; margin: auto">
                </div>
            </div>
            <div class="workshop-feel row text-center">
                <div class="col-lg-3">
                    <div class="card-test mb-4">
                        <div class="arrivals-img">
                            <img src="/img/Workshop/people1.jpg" alt="jpg" class="img-fluid">
                            <div class="card-test-overlay">
                                <div class="card-test-content">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                </div>
                            </div>
                        </div>
                        <h4 class="my-5">France</h4>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card-test mb-4">
                        <div class="arrivals-img">
                            <img src="/img/Workshop/people2.jpg" alt="jpg" class="img-fluid">
                            <div class="card-test-overlay">
                                <div class="card-test-content">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                </div>
                            </div>
                        </div>
                        <h4 class="my-5">Switzerland</h4>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card-test mb-4">
                        <div class="arrivals-img">
                            <img src="/img/Workshop/people3.jpg" alt="jpg" class="img-fluid">
                            <div class="card-test-overlay">
                                <div class="card-test-content">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                </div>
                            </div>
                        </div>
                        <h4 class="my-5">England</h4>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card-test mb-4">
                        <div class="arrivals-img">
                            <img src="/img/Workshop/people4.jpg" alt="jpg" class="img-fluid">
                            <div class="card-test-overlay">
                                <div class="card-test-content">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                </div>
                            </div>
                        </div>
                        <h4 class="my-5">Viet Nam</h4>
                    </div>
                </div>
            </div>
            <div id="carousel-main" class="carousel slide mb-5" data-bs-ride="carousel">
                <div class="carousel-main-text">UPCOMING WORKSHOP</div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/img/Workshop/pumpkin-crop.jpg" class="d-block w-100" alt="jpg">
                        <div class="carousel-caption d-none d-md-block">
                            <h1 class="w-name mb-5">PUMPKIN</h1>
                            <div class="carousel-detail row my-5">
                                <div class="detail-w-date col-sm-6">
                                    19-09-2003
                                </div>
                                <div class="detail-w-address col-sm-6">
                                    1234, 56th Street, New York, NY 12345
                                </div>
                            </div>
                            <p class="w-detail mb-5">Let's make a pumpkin together.</p>
                            <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal"
                                data-bs-target="#w1">Explore</button>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/img/Workshop/pottery-crop.jpg" class="d-block w-100" alt="jpg">
                        <div class="carousel-caption d-none d-md-block">
                            <h1 class="w-name mb-5 text-uppercase">Pottery Making</h1>
                            <div class="carousel-detail row my-5">
                                <div class="detail-w-date col-sm-6">
                                    19-09-2003
                                </div>
                                <div class="detail-w-address col-sm-6">
                                    1234, 56th Street, New York, NY 12345
                                </div>
                            </div>
                            <p class="w-detail mb-5">
                                At Clover, lessons consist of ancient techniques using hand-building, coiling, and
                                trimming to create amazing work of pottery. <br>
                                You can book private classes and gather your friends to attend pottery workshops in Viet
                                Nam with you. <br>
                                This is also the perfect spot for you to pick up the handmade pottery masterpieces by
                                professional pottery artists.
                            </p>
                            <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal"
                                data-bs-target="#w2">Explore</button>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel-main"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel-main"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="modal fade" id="w1" data-bs-backdrop="static" tabindex="-1" aria-labelledby="w1-content"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100" id="w1-content">Tricks or Treat</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <label class="form-label" for="firstName">First Name</label>
                                        <input type="text" id="firstName" class="form-control form-control-lg" />
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <label class="form-label" for="lastName">Last Name</label>
                                        <input type="text" id="lastName" class="form-control form-control-lg" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-4 d-flex align-items-center">
                                    <div class="form-outline datepicker w-100">
                                        <label for="birthdayDate" class="form-label">Birthday</label>
                                        <input type="text" class="form-control form-control-lg" id="birthdayDate" />
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <h6 class="mb-2 pb-1">Gender: </h6>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                            id="femaleGender" value="option1" checked />
                                        <label class="form-check-label" for="femaleGender">Female</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                            id="maleGender" value="option2" />
                                        <label class="form-check-label" for="maleGender">Male</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                            id="otherGender" value="option3" />
                                        <label class="form-check-label" for="otherGender">Other</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-4 pb-2">
                                    <div class="form-outline">
                                        <label class="form-label" for="emailAddress">Email</label>
                                        <input type="email" id="emailAddress" class="form-control form-control-lg" />
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4 pb-2">
                                    <div class="form-outline">
                                        <label class="form-label" for="phoneNumber">Phone Number</label>
                                        <input type="tel" id="phoneNumber" class="form-control form-control-lg" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="w2" data-bs-backdrop="static" tabindex="-1" aria-labelledby="w2-content"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100" id="w2-content">Pottery Making</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <label class="form-label" for="firstName">First Name</label>
                                        <input type="text" id="firstName" class="form-control form-control-lg" />
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <label class="form-label" for="lastName">Last Name</label>
                                        <input type="text" id="lastName" class="form-control form-control-lg" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-4 d-flex align-items-center">
                                    <div class="form-outline datepicker w-100">
                                        <label for="birthdayDate" class="form-label">Birthday</label>
                                        <input type="text" class="form-control form-control-lg" id="birthdayDate" />
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <h6 class="mb-2 pb-1">Gender: </h6>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                            id="femaleGender" value="option1" checked />
                                        <label class="form-check-label" for="femaleGender">Female</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                            id="maleGender" value="option2" />
                                        <label class="form-check-label" for="maleGender">Male</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                            id="otherGender" value="option3" />
                                        <label class="form-check-label" for="otherGender">Other</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-4 pb-2">
                                    <div class="form-outline">
                                        <label class="form-label" for="emailAddress">Email</label>
                                        <input type="email" id="emailAddress" class="form-control form-control-lg" />
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4 pb-2">
                                    <div class="form-outline">
                                        <label class="form-label" for="phoneNumber">Phone Number</label>
                                        <input type="tel" id="phoneNumber" class="form-control form-control-lg" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>