    <div class="container-explore">
        <div class="container-fluid">
            <div class="explore-content">
                <div class="content-top text-center">
                    <div class="top-title text-uppercase  my-5">trick or treat</div>
                    <div class="top-time">Sun, Nov 10, 2022</div>
                    <div class="top-address mt-2">12 Huyen Tran Cong Chua, Thua Thien - Hue</div>
                    <div class="top-detail my-5">
                        Halloween is not just a single day celebration, it’s one entire season where tricks and treats happen, 
                        people put on their spookiest costumes and attend the eerie ghost tours in Danang. Other than the regular traditions, 
                        there are crazy parties and Halloween events in Danang lined up this 2022. You can be a master at cooking Halloween 
                        special recipes with cooking classes near you, drink the night away with the special Halloween pub crawl, 
                        attend family friendly events, take a haunted house tour or even attend a spooky Halloween 2022 party in Hue. 
                        There are so many things to do to make this spooktacular season even more fun, 
                        explore with us and find the best suited events for your!
                    </div>
                    <div class="top-img my-3">
                        <img src="/img/Workshop/pumpkin-crop.jpg" alt="jpg" class="img-fluid">
                    </div>
                </div>
                <div class="content-second text-center reveal">
                    <div class="second-title fst-italic my-5">what will we get?</div>
                    <div class="second-detail">
                        Halloween is not just a single day celebration, it's one entire season where tricks and treats happen, 
                        people put on their spookiest costumes and attend the eerie ghost tours in Hue. Other than the regular traditions, 
                        there are crazy parties and Halloween events in Danang lined up this 2022. You can be a master at cooking 
                        Halloween special recipes with cooking classes near you, drink the night away with the special Halloween pub crawl, 
                        attend family friendly events, take a haunted house tour or even attend a spooky Halloween 2022 party in Danang. 
                        There are so many things to do to make this spooktacular season even more fun, explore with us and find the best 
                        suited events for your!
                    </div>
                </div>
                <div class="content-third text-center reveal">
                    <div class="third-title fst-italic my-5">participants</div>
                    <div class="third-detail">
                        At Clover Farm we don't have an age limit for participation. <br>
                        But for these events, we recommend that parents only 
                        bring children over 2 years old with them.
                    </div>
                </div>
            </div>
            <hr class="reveal"
                style="width: 50%; height: 2px; background-color: rgba(0, 0, 0, 0.356); opacity: 1; margin: auto; margin-top: 100px">
            <div class="explore-form my-5 reveal">
                <div class="form-title text-center fst-italic my-5">join with us!</div>
                <form class="form-main" method="POST" action="/workshop/registration" id="w1">
                    <div class="field">
                        <div class="my-4">
                            <div class="form-outline">
                                <input type="text" name="firstname" id="firstname" placeholder="First Name"
                                    class="form-control form-control-lg" />
                            </div>
                        </div>
                        <div class="my-4">
                            <div class="form-outline">
                                <input type="text" id="lastName" placeholder="Last Name"
                                    class="form-control form-control-lg" name="lastname" />
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="my-4 align-items-center">
                            <div class="form-outline datepicker w-100">
                                <input type="date" class="form-control form-control-lg" id="birthdayDate"
                                    min="1945-01-01" max="2020-12-12" name="birthday" />
                            </div>
                        </div>
                        <div class="gender">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" id="femaleGender"
                                    value="Female" checked />
                                <label class="form-check-label" for="femaleGender">Female</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" id="maleGender"
                                    value="Male" />
                                <label class="form-check-label" for="maleGender">Male</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" id="otherGender"
                                    value="Other" />
                                <label class="form-check-label" for="otherGender">Other</label>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="my-4">
                            <div class="form-outline">
                                <input type="email" id="emailAddress" placeholder="Email Address"
                                    class="form-control form-control-lg" name="email" />
                            </div>
                        </div>
                        <div class="my-4">
                            <div class="form-outline">
                                <input type="tel" id="phoneNumber" placeholder="Phone Number"
                                    class="form-control form-control-lg" required name="phone_number" 
                                    oninvalid="this.setCustomValidity('')"/>
                            </div>
                        </div>
                    </div>
                    <div class="noticed fst-italic text-center">
                        Please check your email after registered!
                    </div>
                    <button type="submit" class="button-explore btn btn-primary btn-lg col-md-12 text-center my-5" id="liveAlertBtn"
                        form="w1">Send</button>
                    <div id="liveAlertPlaceholder"></div>
                </form>
            </div>
        </div>
    </div>