<div id="page">
  <header tabindex="0">Clover Farm</header>
  <div id="nav-container">
    <div class="bg"></div>
    <div class="button" tabindex="0">
      <i class="bi bi-dot"></i>
    </div>
    <div id="nav-content" tabindex="0">
      <ul>
        <li><a href="#0">Home</a></li>
        <li><a href="#0">Catalog</a></li>
        <li><a href="#0">Workshop</a></li>
        <li><a href="#0">Product</a></li>
        <li><a href="#0">Contact</a></li>
      </ul>
    </div>
  </div>
</div>