<div id="page">
  <header tabindex="0">Clover Farm</header>
  <div id="nav-container">
    <div class="bg"></div>
    <div class="button" tabindex="0">
      <i class="bi bi-dot"></i>
    </div>
    <div id="nav-content" tabindex="0">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/">Catalog</a></li>
        <li><a href="/news/workshop">Workshop</a></li>
        <li><a href="/news/product">Product</a></li>
        <li><a href="/news/contact">Contact</a></li>
      </ul>
    </div>
  </div>
</div>