    <div class="container-workshop">
        <div class="workshop">
            <div class="whiteblank"></div>
            <div class="title-top"> 
                <div class="title-top-content">
                    <div class="inside-title-top-content">
                        <div class="inside-content-text-test">
                            <h1>Immpressed <br> in nature</h1>
                        </div>         
                        <div class="inside-content-text-test">
                            Exploring about the posibility that happens <br>
                            when you tried something you never tried.
                        </div>
                    </div>  
                </div>
                <div class="title-top-img">
                    <div class="title-top-img-inside">
                        <img src="/img/Workshop/kid1-crop.jpg" alt="jpg">
                    </div>
                </div>         
            </div>         
            <div class="something">
                <div class="something-inside">
                    <div class="something-content">
                        <div class="something-content-text-1">SOMETHING</div>
                        <div class="something-content-text-2">Let's yourself experience <br> new different things.</div>
                        <div class="something-content-text-3">
                            A new experience, something we haven’t tried before. Something which opens our senses and mind to new adventures and ways of thinking.
                            When we put ourselves out of our comfort zone and open ourselves up to new experiences, things happen in our life.
                            Do not let fear stand in the way of trying something new. Whether it’s travelling to a new country or trying a new hobby. 
                            New experiences allow you to broaden your horizons and live a fulfilled life. Step out of your comfort zone and enrich your life.
                        </div>
                    </div>
                    <div class="something-img">
                        <img src="/img/Workshop/family-1-crop.jpg" alt="jpg">
                    </div>
                </div>
            </div>
            <div id="carousel-main" class="carousel slide mb-5" data-bs-ride="carousel">
                <div class="carousel-main-text">UPCOMING WORKSHOP</div>
                <div class="carousel-inner">
                  <div id = "carousel-img" class="carousel-item active">
                    <img src="/img/Workshop/pumpkin-crop.jpg" class="d-block w-100" alt="jpg">
                    <div id="carousel-caption" class="carousel-caption d-none d-md-block">
                        <h1>PUMPKIN</h1>
                        <p>Let's make a pumpkin together.</p>
                        <a href="#" class="btn btn-lg btn-primary">Explore</a>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#w1" data-bs-whatever="@getbootstrap">Open modal for @getbootstrap</button>
                    </div>
                  </div>
                  <div id = "carousel-img" class="carousel-item">
                    <img src="/img/Workshop/pottery-crop.jpg" class="d-block w-100" alt="jpg">
                    <div id="carousel-caption" class="carousel-caption d-none d-md-block">
                        <h1>PUMPKIN</h1>
                        <p>Duy an lon</p>
                        <a href="#" class="btn btn-lg btn-primary">Explore</a>
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carousel-main" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carousel-main" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
            </div>
        </div>
        <div class="modal fade" id="w1" tabindex="-1" aria-labelledby="w1-content" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="w1-content">Tricks or Treat</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Recipient:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Recipient:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Recipient:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Recipient:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Message:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Send message</button>
                </div>
                </div>
            </div>
        </div>
    </div>